*{
  margin: 0;
}
body{
  background: #f5f6fa;
}
.app__header{
  margin-bottom: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.infoBox__title{
  font-size: 1.2rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

.infoBox__total {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 1rem !important;
  margin-top: 15px !important;
}

.infoBox__cardContent_border_cases{
  border-top: 7px solid crimson;
}
.infoBox__cardContent_border_cases_text{
  color: crimson;
}
.infoBox__cardContent_border_recovers{
  border-top: 7px solid darkslategrey;
}
.infoBox__cardContent_border_recovers_text{
  color: darkslategrey;
}

.infoBox__cardContent_border_deaths{
  border-top: 7px solid darkred;
}
.infoBox__cardContent_border_deaths_text{
  color: darkred;
}

.table-div{
  margin-top: 10px;
  overflow: scroll;
  height: 380px;
}
